@import '~bootstrap/scss/bootstrap-grid.scss';
@import '../_variables';

.photos-wrapper {
  position        : relative;
  overflow        : hidden;
  width           : 100%;
  max-width       : 1366px;
  margin          : 0 auto;
  max-height      : 812px;
  height          : 84vh;
  background-color: $color-primary-1;
}

.home {
  width           : 100%;
  background-color: transparent;

  .photos {
    margin-left : 0;
    margin-right: 0;
    display     : block;
    width       : 141%;

    figure {
      width   : 150px;
      margin  : 0;
      height  : 150px;
      overflow: hidden;

      img {
        max-width : 135%;
        object-fit: cover;
        opacity   : 0.3;
      }

      img:hover {
        opacity: 0.8;
      }
    }
  }
}

.quote {
  position        : absolute;
  z-index         : 2;
  opacity         : 1;
  background-color: transparent;
  padding         : 15px;
  top             : 25.5%;
  right           : 0;
  width           : 48%;
  text-align      : right;

  h1 {
    font-size  : 3.9em;
    color      : $phbalanced-white;
    text-shadow: -1px -1px 0 $phbalanced-black, 1px -1px 0 $phbalanced-black, -1px 1px 0 $phbalanced-black, 1px 1px 0 $phbalanced-black;
  }

  h5 {
    color      : $phbalanced-white;
    text-shadow: -1px -1px 0 $phbalanced-black, 1px -1px 0 $phbalanced-black, -1px 1px 0 $phbalanced-black, 1px 1px 0 $phbalanced-black;
    font-style : italic;
  }
}
@include media-breakpoint-down(lg) {
  .photos-wrapper {
    height: 100vh;
  }

  .photos {
    figure {
      img:hover {
        opacity: 0.3 !important;
      }
    }
  }

  .quote {
    width: 100%;

    h1 {
      font-size: 3em;
    }
  }
}
@include media-breakpoint-down(md) {
  .photos-wrapper {
    height: 100vh;
  }

  .quote {
    width: 100%;

    h1 {
      font-size: 3em;
    }
  }
}
@media (min-height: 1024px) {
  .home {
    height: 84vh;
  }
}
