@import '../_variables';

nav {
  max-width: 1366px;
  left     : 50%;
  transform: translateX(-50%);
  width    : 100%;
  position : fixed !important;
  z-index  : 1024;
  top      : 0;
}

.navbar {
  background-color: $phbalanced-black-1;
  color           : $phbalanced-white;

  .navbar-toggler {
    background-color: $phbalanced-black-1;
    border-color    : $phbalanced-white;
    color           : $phbalanced-white;
    cursor          : pointer;
    padding         : 0.25rem;
    top             : 0.7rem;

    .navbar-toggler-icon {
      height: 1em;
    }

    .navbar-toggler-icon:before {
      content    : "\f0c9";
      font-family: FontAwesome;
      font-size  : 0.9em;
    }
  }

  .navbar-collapse {
    background-color: $phbalanced-black-1;
    padding         : 0 0.5rem;
  }

  a {
    color: $phbalanced-white;
  }

  a:hover {
    color: $phbalanced-gray;
  }
}
